body {
  background-color: rgb(148 163 184);
}
table, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}
th {
  background: #504f4f;
  color:aliceblue;
  border: 1px solid rgb(145, 145, 143);
  border-collapse: collapse;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 4px;
}
.education {
  font-size: 18px;
  padding-bottom: -5px;
  margin-bottom: 8px;
}
.projects {
  font-size: 18px;
  padding-bottom: -10px;
  margin-bottom: -15px;
}
footer {
  text-justify: auto;
}
img {
  --s: 150px; /* the image size */
  --c: #76e3cd;
  width: var(--s);
  aspect-ratio: 1;
  box-sizing: border-box;
  padding-top: var(--s);
  border: 5px solid black;
  border-radius: 2px;
  box-shadow: 0 0 0 999px var(--c); 
  background: var(--c);
  clip-path: inset(0);
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: 1s;
  position: absolute;
  right: 12%;
  top: 5%;
  
}
img:hover {
  border: 5px solid aliceblue;
  padding: 0;
  clip-path: inset(-100% 0 0);
}
